
.profilediv{
    display: flex;
    justify-content: center;
}

.profiletable{
    width: 50%;
    justify-items: center;
    
}

table,td, th{
    border: 1px solid black;

    
}
tr:nth-child(even){background-color: #f2f2f2}